doctype html
html
  head
    meta(charset='utf-8')
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700')
    link(rel='stylesheet', type='text/css', href='/theme/assets/skin/default_skin/css/theme.css')
    link(rel='stylesheet', type='text/css', href='/theme/assets/admin-tools/admin-forms/css/admin-forms.css')

  body.admin-layout-page
    block content
