extends layout

block content
  div.p50
    div.admin-form.theme-primary.tab-pane.mw500.center-block(role='tabpanel')
      div.panel.panel-primary.heading-border
        div.panel-heading
          span.panel-title
            i.fa.fa-sign-in
            | Login

        form(method='post', action='/login')
          div.panel-body.p25
            div.section
              label(for='email', class='field prepend-icon')
                input(type='text', name='email', id='email', class='gui-input', placeholder='Enter email')
                label(for='email', class='field-icon')
                  i.fa.fa-envelope

            div.section
              label(for='password', class='field prepend-icon')
                input(type='text', name='password', id='password', class='gui-input', placeholder='Enter password')
                label(for='password', class='field-icon')
                  i.fa.fa-lock

            div.section
              label.switch.block
                input(type='checkbox', name='remember', id='remember', checked)
                label(for='remember', data-on='YES', data-off='NO')
                span Keep me logged in ?

          div.panel-footer
            button(type='submit', class='button btn-primary') Sign in
