.wrapper {
  padding: 16px;
}

.dialog {
  width: 100%;
  max-width: 320px;
  padding: 16px;
  margin: 10% auto 0;
}

.logo {
  display: block;
  max-width: 80px;
  margin: 32px auto;
}

.text {
  color: gray;
  text-align: center;

  a {
    color: gray;
  }
}
