.wrapper {
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
}

.dialog {
  width: 100%;
  max-width: 560px;
  padding: 24px;
  margin: 32px auto;
}

.logo {
  display: block;
  max-width: 80px;
  margin: 32px auto;
}

.text {
  text-align: center;
}

.heading {
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
}

.subheading {
  margin: 16px 0;
  font-weight: 400;
  color: #aaa;
}

.guide {
  text-align: center;
  p { margin-top: 0; }
  img { margin-bottom: 1em; }
}

.footer {
  color: gray;
  text-align: center;
}

.link {
  color: #ff6f22;
  text-decoration: none;
}
